{
"liveHIT":"no",
"title":"Learning about alien chemicals",
"description":"A fun two person game which will involve experimenting with and learning about alien chemicals",
"experimentURL":"https://stanford-cogsci.org:8884/forms/consent.html",
"keywords":"language research stanford fun cognitive science university explanations",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"95",
"frameheight":"650",
"reward":"0.00",
"numberofassignments":"4",
"assignmentsperhit": "8",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"doesNotHaveQualification": "none"
}
